h1 {
	font-size: 2.4rem;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
}

.content {
	display: flex;
	flex-flow: column-reverse;
	max-width: 950px;
	margin: 0 auto;

	@media screen and (min-width: 850px) {
		flex-flow: row;
	}

	section.about {
		padding: 0 var(--gutter-size);
		margin: 0 auto;
		width: 100%;
		flex: 1;
		box-sizing: border-box;
	}
	div {
		flex: 1;
		img {
			filter: grayscale(100%);
			display: block;
			width: 100%;
			object-fit: contain;
			object-position: top;
		}
	}
}