<section class="about js-scroll">
	<div class="about-inner">
		<h2>Improvement: My Ultimate
			<div class="gradient-outer">
				<div class="inner">
					<div class="text">
						Priority
					</div>
				</div>
			</div>
		</h2>
		<img src="../../../assets/images/me-with-computer copy.jpg" width="100%" height="100%">
		<p>As a first-year computer science major, I have been coding for two years and discovered my passion for web development during the COVID-19 quarantine. Since then, I have dedicated myself to mastering the necessary professional skills to create exceptional websites.</p>
	</div>
</section>