<h1>About</h1>
<div class="content">
	<section class="about">
		<p>I'm a professional front end developer. This means that I specialize in creating unique and complex interfaces that the client directly uses. For example blogs, business websites, and ecommerce websites are primarily front end.</p>
		<h2>From Beginner to Paid Beginner</h2>
		<p>I started out programming as a beginner, and as time went on people started paying me for it. Speaking of which, you can <a routerLink="/contact">hire me</a> for your next project!</p>
		<h2>My Goals</h2>
		<p>My goal is always to be learning as much as possible through application of trendy and useful skills in a large scale project. I think that this level of stress will cause me to learn a ton at once.</p>
		<h2>I'm Not A Robot</h2>
		<p>I am a Christian! I like to do other things besides coding such as playing chess, listening to classical music (Vivaldi is my favorite), and playing Legend of Zelda.</p>
	</section>
	<div>
		<img src="../../../assets/images/me-in-hoodie-low-res.webp" (load)="isLoaded ? '' : lazyLoad($event)" alt="Me in a hoodie" width="100%" height="100%">
	</div>
</div>