<footer>
	<div class="footer-top">
		<div class="footer-section">
			<h3>Pages</h3>
			<ul>
				<li><a (click)="navigateTo('/')">Home</a></li>
				<li><a (click)="navigateTo('/about')" routerLink="/about">About</a></li>
				<li><a (click)="navigateTo('/projects')" routerLink="/projects">Projects</a></li>
				<li><a (click)="navigateTo('/contact')" routerLink="/contact">Contact</a></li>
			</ul>
		</div>
		<div class="footer-section">
			<h3>Contact</h3>
			<ul>
				<li><a href="mailto:eliasmurcray@gmail.com" target="_blank">Email: eliasmurcray@gmail.com</a></li>
				<li><a href="https://discord.com/users/1013504042011459594" target="_blank">Discord: Polar#5417</a></li>
			</ul>
		</div>
	</div>
</footer>