@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

section.hero {
	position: relative;
	overflow: hidden;
	display: grid;
	grid-template-columns: 190px auto 100px;
	min-height: calc(100dvh - 100px);
	max-width: 1080px;
	margin: 0 auto;

	--overlay-offset: 34%;

	@media screen and (max-width: 850px) {
		--overlay-offset: 45%;
		display: block;
		padding-top: 0;

		.left-sidebar,
		.right-sidebar {
			display: none;
		}

		.middle {
			.header__icons {
				display: flex;
			}

			.ui-frame {
				margin-top: 35px;
				max-height: calc(100vh - 300px);
				margin-bottom: 80px;
			}
		}

		.section-overlay__text {
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0 auto;
			font-size: 2.2rem;
			line-height: 3rem;

			.gradient-outer {
				width: calc(5ch + 80px);
				height: 65px;
				.inner {
					width: calc(5ch + 80px);
					height: 65px;
				}
			}
		}
	}
}

.left-sidebar {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	height: min(calc(100dvh - 100px), 180px);
	margin-left: var(--gutter-size);
	padding-bottom: 30px;
	border-bottom: 1px solid var(--layer-3);
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	animation: slide-up-small 1s 1s ease-in-out forwards;
	opacity: 0;

	:nth-child(2) {
		animation: slide-right 1s 1.5s ease-in-out forwards;
		opacity: 0;
	}
}

.middle {
	position: relative;
	padding: 0 var(--gutter-size);
	animation: slide-up 1.5s ease-in-out forwards;
	opacity: 0;

	.ui-frame {
		&:after {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			bottom: 20px;
			left: 20px;
			background-color: var(--layer-2);
			z-index: -1;
			border-radius: inherit;
			box-shadow: inherit;
		}
		position: relative;
		width: 100%;
		background-color: var(--layer-3);
		min-height: 500px;
		height: 500px;
		border-radius: 24px;
		padding: 1rem;
		box-sizing: border-box;
		max-width: 400px;
		margin: 0 auto 0;
		display: flex;
		flex-flow: column;
		box-shadow: 0 0 10px #0004;

		.ui-frame__buttons {
			display: flex;
			column-gap: 5px;

			div {
				width: 10px;
				height: 10px;
				border-radius: 50%;

				&.purple {
					background-color: var(--purple-1);
				}

				&.white {
					background-color: var(--text-1);
				}

				&.lightblue {
					background-color: var(--light-blue);
				}
			}
		}

		.ui-frame__header {
			display: grid;
			grid-template-columns: auto 51px;
			align-items: center;
			height: 120px;

			.ui-frame__header__punch {
				font-weight: 500;
				text-transform: uppercase;
				background-clip: text;
				-webkit-background-clip: text;
				background-image: linear-gradient(90deg, var(--light-blue), var(--text-1));
				color: #0000;
				font-size: min(1.5rem, 5vw);
				line-height: 1.25;
				max-width: 190px;
			}

			.ui-frame__header__button__outer {
				background: -webkit-linear-gradient(right bottom, var(--purple-1) 0%, var(--purple-2) 100%);
				width: 50px;
				height: 50px;
				border-radius: 1000px;
				padding: 2px;

				.ui-frame__header__button {
					border-radius: 50%;
					width: 50px;
					height: 50px;
					display: grid;
					place-items: center;
					cursor: pointer;
					background-color: var(--layer-3);

					svg {
						fill: var(--text-1);
					}
				}
			}
		}

		.ui-frame__image-holder-1 {
			height: 100%;
			background-color: var(--layer-4);
			box-sizing: border-box;
			border-radius: 24px;
			padding: 14px;
			box-sizing: border-box;
			box-shadow: 0 0 10px #0004;

			.ui-frame__image-holder-2 {
				width: 100%;
				height: 100%;
				background-color: var(--layer-1);
				border-radius: 24px;
				padding: 14px;
				box-sizing: border-box;

				.ui-frame__image-holder-3 {
					width: 100%;
					height: 100%;
					background: url('../../../assets/images/top-view-man-using-his-laptop.jpg') center / cover;
					border-radius: 24px;
					filter: grayscale(100%);
				}
			}
		}
	}

	.header__icons {
    display: none;
    align-items: center;
    column-gap: 8px;
		width: 100%;
		max-width: 1080px;
		margin: 0 auto;
    opacity: 0;
    animation: fade-in 1s 1.5s ease-in-out forwards;


    a {
      position: relative;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: attr(tooltip);
        color: var(--text-1);
        transform: translateY(calc(100% - 2px));
        font-weight: 500;
        opacity: 0;
        pointer-events: none;
        transition: .3s ease-in-out all;
      }

      &:hover::after {
        opacity: 1;
        transform: translateY(100%);
      }
    }
  }
}

.right-sidebar {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding-right: var(--gutter-size);
	height: 400px;
	justify-content: space-between;

	animation: slide-up-small 1s 1s ease-in-out forwards;
	opacity: 0;
	
	.right-sidebar__icons {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		row-gap: 1rem;

		a {
			position: relative;

			&::after {
				position: absolute;
				left: 0;
				content: attr(tooltip);
				padding-right: 6px;
				color: var(--text-1);
				transform: translateX(calc(-100% + 2px));
				font-weight: 500;
				opacity: 0;
				pointer-events: none;
				transition: .3s ease-in-out all;
			}

			&:hover::after {
				opacity: 1;
				transform: translateX(-100%);
			}
		}
	}

	.right-sidebar__text {
		border-top: 1px solid var(--layer-3);
		padding-top: 30px;
		width: 100%;
		text-align: center;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 1.8rem;

		opacity: 0;
		animation: slide-left 1s 1.5s ease-in-out forwards;
	}
}



@keyframes slide-up-overlay {
	0% {
		transform: translate(-17%, calc(var(--overlay-offset) + 30px));
		opacity: 0;
	}

	100% {
		transform: translate(-17%, var(--overlay-offset));
		opacity: 1;
	}
}

.section-overlay__text {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	// right: 0;
	margin: 0 auto;
	width: 150%;
	text-align: center;
	text-transform: uppercase;
	font-size: 3.8rem;
	font-weight: 600;
	line-height: 4.3rem;
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient(90deg, var(--light-blue), var(--text-1));
	color: #0000;
	pointer-events: auto;
	animation: slide-up-overlay 1.1s 2.2s ease-in-out forwards;
	opacity: 0;

	.gradient-outer {
		background: -webkit-linear-gradient(right bottom, var(--purple-1) 0%, var(--purple-2) 100%);
		height: 85px;
		border-radius: 50px;
		padding: 1px;
		width: calc(5ch + 130px);
		margin: 0 auto;

		.inner {
			display: grid;
			place-items: center;
			background-color: var(--layer-1);
			width: calc(5ch + 130px);
			height: 85px;
			border-radius: 50px;

			span {
				background-clip: text;
				-webkit-background-clip: text;
				background-image: linear-gradient(90deg, var(--light-blue), var(--text-1));
				color: #0000;
			}
		}
	}
}